<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Web site created using basic web technologies" />
    <title>RPS</title>
    <link rel="stylesheet" href="/bootstrap.min.css">
  </head>
  <body>
    <div class="input-group input-group-sm my-3 w-50 mx-auto">
      <input type="text" name='name' class="form-control" placeholder="message" maxlength="8" required>
      <button type="button" class="btn btn-primary" id="btnSend">send</button>

    </div>
    <div class="my-3 w-50 mx-auto" id="msgDiv">
    </div>
    <script src="/custom.js"></script>
  </body>
</html>